<div id="request_form">
  <%= form_with url: summarize_path, scope: "book", class: "mb-5", data: { controller: "form", form_target: "summaryForm" } do |form| %>
    <div class="md:flex justify-between md:space-x-4"> <%# input fields %>
      <div class="my-5 flex "> <%# book title %>
        <%= form.label :title, class: "field-label" %>
        <%= form.text_field :title, placeholder: "Book Title to Summarize", class: "field-text" %>
      </div> <%# /book title %>

      <div data-controller="chatgpt-model" data-action="mousedown->chatgpt-model#handleFocus"
           class="my-5 flex"> <%# model %>
        <%= form.label :model, class: "field-label" %>
        <%= form.collection_select :model, ChatGptModel.all, :id, :name, {},
                                   data: {
                                     action: "mousedown->chatgpt-model#handleMousedown change->chatgpt-model#handleChange"
                                   },
                                   class: "field-text",
                                   id: "model_name" %>
      </div> <%# /model %>

      <div class="my-5 flex "> <%# temperature %>
        <%= form.label :temp, class: "field-label" %>
        <%= form.number_field :temp, min: 0, max: 1, step: 0.1, value: 0,
                              class: "field-text" %>
      </div> <%# /temperature %>
    </div> <%# /input fields %>

    <div class="inline flex">
      <%= form.submit "Summarize", class: "form-button",
                      data: { action: "click->form#submit_pressed", form_target: "submit" } %>

      <%= render partial: "processing_button" %>
    </div>  <%# submit %>

  <% end %>
</div>