<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up",
                    class: ['rounded-lg py-3 px-5 bg-violet-500 hover:bg-violet-400 text-violet-200 hover:text-violet-900',
                            'hover:font-bold inline-block font-bold cursor-pointer border border-purple-500'].join(' '),
                    data: { action: "click->form#submit_pressed", form_target: "submit" }%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
