<div class="p-10">
  <h2 class="text-4xl">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="my-5 flex">
      <%= f.label :email, class: "field-label" %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-text" %>
    </div> <%# /email %>

    <div class="my-5 flex items-center">
      <%= f.label :password, class: "field-label" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "field-text" %>
    </div> <%# /password %>

    <% if @minimum_password_length %>
      <div class="text-xs sm:text-lg -mt-3">
        <em><%= @minimum_password_length %> characters minimum</em>
      </div>
    <% end %>

    <div class="my-5 flex">
      <%= f.label :password_confirmation, class: "field-label" %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field-text" %>
    </div> <%# /password_confirmation %>

    <div class="actions">
      <%= f.submit "Sign up",
                   class: "form-button",
                   data: { action: "click->form#submit_pressed", form_target: "submit" } %>
    </div>
  <% end %>

  <div class="mt-5">
    <%= render "devise/links" %>
  </div>

</div>